.member-card-image {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    height: 200px;
    z-index: -1000;
    overflow: hidden;
    flex-flow: row nowrap;
    align-items: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 4px solid #2c394b;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.member-card-image h5, .member-card-image h6 {
    position: relative;
    top: 60%;
}

#root {
    flex-grow: 1;
}
.main-card {
    position: fixed !important;
    top: 50% !important;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
